<style>
    body {
        background-color: rgb(243, 244, 245);
    }

    img {
        margin-top: 50px;
    }

    div.card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 50px 0;
        width: 80%;
        padding: 22px;
        background-color: white;
        box-shadow: 2px 2px 3px #aaaaaa85;
    }

    button {
        padding: 1em;
        margin: 25px 0;
        border: none;
        border-radius: 2px;
        background-color: rgb(249, 104, 83);
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        align-self: center;
        cursor: pointer;
        transition: all 0.4s;
    }

    button:hover {
        background-color: rgb(206, 75, 28);
    }

    button:hover p {
        transform: translateY(-2px);
    }

    p.subtitle {
        color: rgb(79, 104, 122);
        font-size: 12pt;
        font-weight: lighter;
    }

    p.title {
        color: rgb(79, 104, 122);
        font-size: 14pt;
        font-weight: bolder;
        margin-bottom: 20px;
    }

    p.body {
        align-self: center;
        width: 90%;
    }

    input[type=button] {
        margin: 20px 0;
    }

</style>

{{!-- <img alt="logo.svg" src="/assets/images/logo.svg" width="100px"> --}}

<div class="card">
    <p class="subtitle" style="align-self: flex-start;">Olá {{ name }},</p>
    <p class="title">Nós recebemos uma solicitação para redefinir sua senha.</p>
    <p class="body">Clique no botão abaixo para resetar sua senha, caso não tenha solicitado a redefinição de senha, ignore este e-mail, o link gerado expirará em uma hora.</p>

    <button type="button">
        <p>Redefinir minha senha</p>
    </button>
</div>

<p>Use seu token para resetar sua senha: <token>{{ token }}</token></p>