@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    background-color: #F7F8FD;
}

body, input, button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

div.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}