@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    background-color: #F7F8FD;
}

body, input, button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

div.main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: calc(100% - 150px);
}

button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.card {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

label.card-title {
    font-variant: small-caps;
    letter-spacing: 2px;
    align-self: center;
    color: #656570;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}